[core]
    excludesfile = ~/.gitignore_global
    editor = vim
[user]
    name = dlarocque
    email = daniellrq@outlook.com
[code]
    editor = vim
[credential "https://dev.azure.com"]
    useHttpPath = true
[url "git@github.com:"]
    insteadOf = https://github.com/
[include]
    path = ~/.gitconfig.os
[include]
    path = ~/.gitconfig.local
